/*Reset de CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #292929;
}
h1{
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}
h2{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
a:visited{
    color:#292929
}
a{
    text-decoration: none;
    color: #292929;
}

.portada img{
    width: 50%;
}

/* BOTON */
.boton {
    padding: 10px 20px;
    margin: 2rem;
    background-color: black;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #535353;
    transform: scale(1.1);
  }
  
  .boton:active {
    background-color: #ffffff;
  }
  .boton a:active{
    color: black;
  }
  .boton a{
    color: white;
    font-weight: 800;
  }


/* NAV MENU */

.site-nav{
    position: fixed;
    background-color: white;
    width: 100%;
}

.menu{
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
}

.menu li{
    margin: 0 1rem;
}

/* PORTADA */
.portada-index{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    color: white;
    background-image: url(../assets/index/port_index.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -300px;
    align-items:flex-start;
    justify-content: center;
    padding-left: 2rem;
}

.portada-index h1{
    font-size: 8rem;

}
.portada-index h2{
    font-size: 3rem;
    font-weight: 00;
    text-transform: uppercase;
}

/* GALERIA POR PERSONA */
.galeria{
    display: flex;
    justify-content: center;
    margin: 2rem;
    text-align: center;
    
}
.galeria img{
    width: 400px;
}
.galeria h2{
    font-weight: 700;
    text-transform: uppercase;
}
.galeria article{
    margin: 5rem;
}

.galeria-hijos:hover{
    transform: scale(1.1);
}

/* PORTADAS */
.portada-pages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    color: white;
    justify-content: end;
    align-items: center;
    padding-left: 2rem;
}

.portada-pages h2{
    position: relative;
    top: 40px;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.portada-pages h1{
    font-size: 10rem;
}
.txt_page{
    margin-bottom: 4rem;
}

/* PORTADA MUJER */
#port-mujer{
    background-image: url(../assets/mujer/port_mujer.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0px;
}

/* PORTADA HOMBRE */
#port-hombre{
    background-image: url(../assets/hombre/port_hombre.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0px;
}

/* PORTADA NIÑOS */
#port-ninios{
    background-image: url(../assets/ninios/port_niños.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0px;
}

/* PRODUCTO DESTACADO */
.prod_dest{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    align-items:flex-start;
    justify-content: end;
    padding: 2rem 2rem;
    margin-bottom: 4rem;
}
.prod_dest h2{
    font-size: 3rem;
    font-weight: 800;
    background-color: black;
    padding: 5px 20px;
}

/* PRODUCTO DESTACADO INDEX */
#prodest-index{
    background-image: url(../assets/index/destacado_index.jpg);
    background-position: center -300px;
}
/* PRODUCTO DESTACADO MUJER */
#prodest-mujer{
    background-image: url(../assets/mujer/prod_dest_mujer.jpg);
    background-position: center -400px;
}
/* PRODUCTO DESTACADO HOMBRE */
#prodest-hombre{
    background-image: url(../assets/hombre/prod_dest_hombre.webp);
    background-position: center -300px;
}
/* PRODUCTO DESTACADO NIÑOS */
#prodest-ninios{
    background-image: url(../assets/ninios/prod_dest_ninios.jpg);
    background-position: center -300px;
}


/* PRODUCTO EN PROMOCIÓN */
.promo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items:flex-start;
    justify-content: end;
    padding: 2rem 2rem;
    margin-bottom: 4rem;
}
.promo h2{
    font-size: 3rem;
    font-weight: 800;
    background-color: black;
    padding: 5px 20px;
}

/* PRODUCTO PROMOCIÓN INDEX */
#promo-index{
    background-image: url(../assets/index/promo.webp);
    background-position: center -300px;
}
/* PRODUCTO PROMOCIÓN MUJER */
#promo-mujer{
    background-image: url(../assets/mujer/promo_mujer.jpeg);
    background-position: center -100px;
}
/* PRODUCTO PROMOCIÓN HOMBRE */
#promo-hombre{
    background-image: url(../assets/hombre/promo_hombre.png);
    background-position: center -500px;
}
/* PRODUCTO PROMOCIÓN NIÑOS */
#promo-ninios{
    background-image: url(../assets/ninios/promo2_ninios.jpg);
    background-position: center -300px;
}


/* PORTADA CONTACTO */
#port-contacto{
    background-image: url(../assets/contacto/port_contacto.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 0px;
}
/* UBICACIÓN DE SUCURSALES */
#suc{
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
}

.ubi{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.ubi div iframe{
    border-radius: 10px;
} 


/* FORMULARIO DE CONTACTO */
.form-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to left bottom, #057e9e, #009ab2, #00b6b9, #00d2b3, #12eb9f);
    justify-content: center;
    align-items: center;
}


footer{
    background-color: #b1b1b1;
}